<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super kurzy, kde se naučím něco, co mi k něčemu v životě bude, k..</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="./main.js"></script>
</head>
<body>
<div id="main">
    <section class="todoapp">
      <header class="header">
        <h1>todos</h1>
        <input class="new-todo" placeholder="What needs to be done?" autofocus="">
      </header>
      <section class="main" style="display: block;">
        <input class="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list"><li>
      <div class="view">
        <input class="toggle" type="checkbox">
        <label>Create something great</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Create something great">
    </li><li class="completed">
      <div class="view">
        <input class="toggle" type="checkbox" checked="">
        <label>Make up topic of JS lesson</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Make up topic of JS lesson">
    </li><li>
      <div class="view">
        <input class="toggle" type="checkbox">
        <label>Prepare for JS lesson</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Prepare for JS lesson">
    </li><li class="">
      <div class="view">
        <input class="toggle" type="checkbox">
        <label>Learn JS before I teach JS lessons</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Learn JS before I teach JS lessons">
    </li><li>
      <div class="view">
        <input class="toggle" type="checkbox">
        <label>Actually learn JS before the lessons</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Actually learn JS before the lessons">
    </li><li class="completed">
      <div class="view">
        <input class="toggle" type="checkbox" checked="">
        <label>Teach da JS</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Teach da JS">
    </li><li class="">
      <div class="view">
        <input class="toggle" type="checkbox">
        <label>Pretend tha I can JS really well</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Pretend tha I can JS really well">
    </li></ul>
      </section>
      <footer class="footer" style="display: block;">
      <span class="todo-count"><strong>5</strong> items left</span>
      <ul class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      
      <button class="clear-completed">Clear completed</button>
      
    </footer>
    </section>
    <footer class="info">
      <p>Double-click to edit a todo</p>
    </footer>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/template" id="item-template">
      <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
        <label><%- title %></label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="<%- title %>">
    </script>
    <script type="text/template" id="stats-template">
      <span class="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
      <ul class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <button class="clear-completed">Clear completed</button>
</div>
</body>
</html>
